.left{
    border: 1px solid;
    width: 15vw;
    position: fixed;
    top: 0;
    bottom: 0;
    padding: 10px;
}
.nav{
    color: black;
    border: 1px solid;
    padding: 10px;
    border-radius: 10px;
}
