.form{
    display: flex;
    border: 1px solid;
    padding: 30px;
    border-radius: 10px;
    box-sizing: border-box;
    background: linear-gradient(to right, rgba(150, 188, 10, 0), rgba(255,0,0,1));
    width: 30%;
    margin: 90px auto;
    flex-direction: column;
    gap: 10px;

}