.main{
    width: 500px;
    height: 500px;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.box{
    width: 50px;
    height: 50px;
    border:1px  solid;
}